<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Mongoose</title>
</head>
<body>
    <form action="/" method="post">
        Name: <input type="text" name="name">
        Color: <input type="text" name="color">
        <input type="submit" value="Add">        
    </form>
    <a href="/">Go Back</a>
</body>
</html>