<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Broadcast Example</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
        $(document).ready(function (){

            var name = prompt("What is your name?");
            var socket = io.connect();
            socket.emit('new_user', {name:name});

            var user_id;

            socket.on('assigned_user_id', function(data){
                console.log("Got user ID from server: ", data.user_id)
                user_id = data.user_id
            });

            $('#msg_form').submit(function(e){
                e.preventDefault();
                console.log("You sent a message!")
                socket.emit("new_message", {name:name, user_id:user_id, text:$('#new_msg').val()})
                $('#new_msg').val("")
            });

            socket.on('append_message', function(data){
                console.log('appending new message to the board: '+ JSON.stringify(data))
                var htmlString = '<tr><td class="user_name">' + data.name + '</td><td class="user_msg">' + data.text + '</td></tr>'
                $('#tbody').append(htmlString)
            });

        })
    </script>
</head>
<body>
    <h3>Conversation Board</h3>
    <div id="message">
    <table>
        <tbody id="tbody">
            <% for(var i = 0; i < messages.length; i += 1){ %>
            <tr>
                <td class="user_name"><%= messages[i].name %></td>
                <td class="user_msg"><%= messages[i].text %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
    </div>
    <div id="msg_container">
        <form id="msg_form" action="/" method="post">
            <input id="new_msg" type="text" name="" value="" placeholder="Enter your message here">
            <input type="submit" name="" value="Send">
        </form>
    </div>
</body>
</html>