<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuotingDojo</title>
</head>
<body>
    <h3>Welcome to QuotingDojo</h3>
    <form action="/quotes">
        Your name: <input type="text", name="name"><br>
        Your quote: <textarea name="quote" id="" cols="30" rows="10"></textarea><br>
        <input type="submit" value="Add my quote!">
    </form>
    <a href="/quotes"><button>Skip to quotes!</button></a>    
</body>
</html>