<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QuotingDojo</title>
</head>
<body>
    <h3>Here are the awesome quotes!</h3>
    <% for (var i in quotes) { %>
        <div id="quote">
            <p><%= quotes[i].quote %></p>
            <p>- <%= quotes[i].name %> at <%= quotes[i].createdAt %></p>
        </div>
    <% } %>
  
</body>
</html>